<div style="min-height:100vh;display:flex;align-items:center;flex-direction:column;justify-content:center;">
    <div class="container" style="display: flex;align-items:center;justify-content:center;">
        <div style="width:100%;max-width: 35rem;align-items: center;display: flex;flex-direction:column;padding:10px 0">
            <div
                style="width:100%;max-width: 35rem;border:1px solid rgb(219, 219, 219);align-items: center;display: flex;flex-direction:column;padding:10px 0;margin: 0 0 1rem;">
                <div style="margin-top:2.4rem;margin-bottom:1.2rem;"><i
                        style="background-image: url('https://static.cdninstagram.com/rsrc.php/v3/yK/r/ATdtiLb2BQ9.png'); background-position: 0px 0px; background-size: 176px 181px; width: 175px; height: 51px; background-repeat: no-repeat; display: inline-block;"></i>
                </div>
                <div style="width:100%;">
                    <form style="display: flex;flex-direction:column">
                        <h2
                            style="font-size: 1.7rem;font-weight:600;line-height:2rem;margin:0 4rem 1rem; text-align:center;color:rgb(142, 142, 142)">
                            Regístrate para ver fotos y
                            vídeos de tus amigos.</h2>
                        <div style="display:flex;flex-direction:column;margin-top:2.4rem;">
                            <div style="margin: 0 4rem .6rem;">
                                <input placeholder="Usuario o correo electrónico"
                                    style="background-color: rgb(250,250,250);width:100%;height:3.6rem;border:1px solid rgb(219,219,219);color:rgb(38,38,38);padding-left:1.5rem;outline: none;font-size:1.2rem;"
                                    type="text" />
                            </div>
                            <div style="margin: 0 4rem .6rem;"><input placeholder="Nombre completo"
                                    style="background-color: rgb(250,250,250);width:100%;height:3.6rem;border:1px solid rgb(219,219,219);color:rgb(38,38,38);padding-left:1.5rem;outline:none;font-size:1.2rem;"
                                    type="text" />
                            </div>
                            <div style="margin: 0 4rem .6rem;"><input placeholder="Nombre de usuario"
                                    style="background-color: rgb(250,250,250);width:100%;height:3.6rem;border:1px solid rgb(219,219,219);color:rgb(38,38,38);padding-left:1.5rem;outline:none;font-size:1.2rem;"
                                    type="password" />
                            </div>
                            <div style="margin: 0 4rem .6rem;"><input placeholder="Contraseña"
                                    style="background-color: rgb(250,250,250);width:100%;height:3.6rem;border:1px solid rgb(219,219,219);color:rgb(38,38,38);padding-left:1.5rem;outline:none;font-size:1.2rem;"
                                    type="password" />
                            </div>
                            <div
                                style="display: flex;align-items: center;justify-content: center;margin-top: .8rem;margin-right: 4rem;margin-left: 4rem;">
                                <button
                                    style="background-color: rgb( 0, 149, 246);border-radius: .8rem;border:none;padding:7px 16px;color:#fff;cursor: pointer;font-size:1.4rem;width:100%"
                                    type="submit">
                                    <div style="display: flex;justify-content: center;">
                                        Siguiente
                                    </div>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div
                style="width:100%;max-width: 35rem;border:1px solid rgb(219, 219, 219);align-items: center;display: flex;flex-direction:column;padding:1rem 0;margin: 0 0 1rem;">
                <p style="font-size: 1.4rem;">¿Tienes una cuenta? <a style="cursor: pointer;text-decoration: none;"
                        routerLink="/login"><span style="color:rgb(0, 149, 246);font-weight:600;">Entra</span></a>
                </p>
            </div>
        </div>
    </div>
</div>