<div class="w-fullvh d-flex justify-content--center">
    <div class="container d-flex align-items--center justify-content--center">
        <div class="max-w-350 align-items--center d-flex d-flex__column p-t-10 p-b-10">
            <div class="max-w-350 d-flex align-items--center d-flex__column p-t10 p-b-10 m-b-10 greyBorder">
                <div style="margin-top:2.4rem;"><i
                        style="background-image: url('https://static.cdninstagram.com/rsrc.php/v3/yK/r/ATdtiLb2BQ9.png'); background-position: 0px 0px; background-size: 176px 181px; width: 175px; height: 51px; background-repeat: no-repeat; display: inline-block;"></i>
                </div>
                <div class="w-full">
                    <form class="d-flex d-flex__column">
                        <div class="d-flex d-flex__column m-t-24">
                            <div class="m-t-0 m-l-40 m-r-40 m-b-6">
                                <input placeholder="Usuario o correo electrónico"
                                    class="backgroundInput w-full h-36 greyBorder inputLabel p-l-15 font-12"
                                    type="text" />
                            </div>
                            <div style="margin: 0 4rem .6rem;"><input placeholder="Contraseña"
                                    class="backgroundInput w-full h-36 greyBorder inputLabel p-l-15 font-12"
                                    type="password" />
                            </div>
                            <div class="d-flex align-items--center justify-content--center m-t-8 m-r-40 m-l-40">
                                <button class="activeBlueActionBtn" type="submit">
                                    <div style="display: flex;justify-content: center;">
                                        Entrar
                                    </div>
                                </button>
                            </div>
                        </div>
                        <a class="text-center font-12 m-t-22 forgotPassword" routerLink="/auth/reset">¿Has
                            olvidado la contraseña?</a>
                    </form>
                </div>
            </div>
            <div
                style="width:100%;max-width: 35rem;border:1px solid rgb(219, 219, 219);align-items: center;display: flex;flex-direction:column;padding:1rem 0;margin: 0 0 1rem;">
                <p style="font-size: 1.4rem;">¿No tienes una cuenta? <a style="cursor: pointer;text-decoration: none;"
                        routerLink="/auth/signup"><span
                            style="color:rgb(0, 149, 246);font-weight:600;">Regístrate</span></a>
                </p>
            </div>
        </div>
    </div>
</div>