.greyBorder {
  border: 1px solid rgb(219, 219, 219);
}
.subHeadline {
  color: rgb(142, 142, 142);
}
.backgroundInput {
  background-color: rgb(250, 250, 250);
}
.inputLabel {
  color: rgb(38, 38, 38);
}
input {
  outline: none;
}
.activeLink {
  color: rgb(0, 149, 246);
}
