.container {
  width: 100%;
  max-width: 1250px;
  padding: 0 1.7rem;
  margin: 0 auto;
}
// .d-flex {
//   display: flex;
// }
// .justify-content {
//   &.center {
//     justify-content: center;
//   }

//   &.between {
//     justify-content: space-between;
//   }
// }
